<div class="container">
  <div class="tournoi">
    <h2> {{ tournoi.nomTournoi }} </h2>
    <h3> {{ tournoi.sport }} </h3>
    <p> {{ tournoi.description }} </p>
    <p *ngIf= "tournoi.etat==0"> Le tournoi n'a pas commencé </p>
    <p *ngIf= "tournoi.etat==1"> Le tournoi a commencé</p>
    <p *ngIf= "tournoi.etat==2"> Le tournoi est terminé</p>

  </div>
  <div *ngIf="isLoggedIn" class="poules">
    <form (ngSubmit)="onSubmit()">
      <p> Il y a {{tournoi.equipes?.length}} equipes inscritent au tournoi.</p>
      <p> Combien voulez-vous de poules ? <input type="number" name="nombrePoule" [(ngModel)]="nombrePoule"></p>
      <input type="submit" value="Envoyez">
     </form>
  </div>
</div>
