@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

html,
body {
  font-family: "Tenor Sans", sans-serif;
  font-size: 1rem;
}

body{
  width: 100vw;
  min-height: 100vh;
  background-color: #2B2E4A;
}

h1 {
  margin-left: 1rem;
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
p {
  font-family: "Tenor Sans", sans-serif;
  font-size: 1rem;
}
