.container {
  margin: 0 auto;
  margin-top: 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
  font-family: 'Noto Sans', sans-serif;
  align-items: flex-end;
}

.poule {
  width: 600px;
  height: auto;
  background-color: #222831;
  padding-left: 1em;
  border-radius: 25px;
  margin: 20px;
  // margin-top: 3em;
  overflow: hidden;
}
