
<div class="container_event">
<ng-container *ngFor="let evenement of evenements">
<div class="container_tournoi">
  <ng-container *ngFor="let tournoi of evenement.tournois">
    <div class="tournoi" *ngIf="tournoi.etat==1 && tournoi.organisateur==id ">
      <p> Tournoi de l'evenement :<b> {{evenement.nomEvenement}} </b></p>
      <p> Nom du tournoi:<b> {{ tournoi.nomTournoi }} </b></p>
      <p> Sport:<b> {{ tournoi.sport }}</b> </p>
      <p> {{ tournoi.description }} </p>

      <button (click)="redirectionGererTournoi(evenement.nomEvenement, tournoi.nomTournoi)"> Gerer ce tournoi </button>
      <!-- <button  (click)="redirectionOrganisation(nomEvenement, tournoi.nomTournoi)"> Organisation du tournoi </button> -->
    </div>
  </ng-container>
</div>
</ng-container>
</div>
