<h1> Tournoi dans l'evenement : {{nomEvenement}} </h1>
<div class="container">
  <ng-container *ngFor="let tournoi of tournois">
    <div class="tournoi" *ngIf="tournoi.etat==0">
      <h2> {{ tournoi.nomTournoi }} </h2>
      <h3> {{ tournoi.sport }} </h3>
      <p> {{ tournoi.description }} </p>

      <button *ngIf="isLoggedIn" (click)="redirectionInscriptionEquipe(nomEvenement, tournoi.nomTournoi)"> Inscrire une équipe </button>
      <button *ngIf="isLoggedIn" (click)="redirectionOrganisation(nomEvenement, tournoi.nomTournoi)"> Organisation du tournoi </button>
    </div>
  </ng-container>
</div>
