nav{
  background-color: #2B2E4A;
}

nav, a{
  padding: 1em 1em;
  text-align: left;
  color: #f2f2f2;
  text-decoration: none;
}

a:hover{
  background-color: #53354A;
}

a.home{
  background-color: #E84545;
}
