nav{
 display: flex;
 justify-content:space-between;
 background-color: #903745;
 margin :  0;
}

nav, a{
  padding: 1.2em;
  text-align: left;
  color: #f2f2f2;
  text-decoration: none;
}

a:hover{
  background-color: #7e303c;
  padding: 1em;
}

a.home{
  font-size: 1.2em;
}

.left{
  //pour centrer la partie gauche
  margin-top: 2px;
}
