<style>
  @import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Istok+Web&family=Noto+Sans&display=swap');
</style>

<nav>
  <div class="left">
    <b><a class="home" href="">TUTTI TOURNEY</a></b>
    <a href="/tournois-finis"> Tournois terminés </a>
    <a href="/tournois-en-cours"> Tournois en cours </a>
  </div>

  <div class="right" *ngIf="isLoggedIn; else loggedOut">
    <a href="/mes-tournois"> Mes tournois </a>
    <a href="/create-evenement">Créer un événement</a>
    <a href="/create-tournoi">Créer un tournoi</a>
    <a> Bonjour, {{ username }} ! </a>
    <a href="deco"(click)="logout()">Déconnexion</a>
  </div>
  <ng-template #loggedOut>
    <div class="right">
    <a href="/connexion-user">Connexion</a>
    <a href="/create-user">Inscription</a></div>
  </ng-template>
</nav>

